# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Python-related
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ChromeDriver download (optional)
chromedriver.exe
chromedriver.log

# System files
*.swp
*.bak
